/* App.css */
body {
    background-color: #1c1c1c; /* dark background color */
    color: #ccc; /* light text color */
    font-family: "Roboto Mono", monospace; /* futuristic font */
  }
  
  /* ProductTable.css */
  table {
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Roboto Mono", monospace; /* futuristic font */
    background-color: #1c1c1c; /* dark background color */
    color: #ccc; /* light text color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* subtle shadow effect */
    animation: fadeIn 0.5s ease-out; /* fade-in animation */
  }
  
  th {
    font-weight: bold;
    text-transform: uppercase; /* uppercase headers */
    border: none;
    color: #ffea00; /* yellow text color */
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #282828; /* dark header background color */
    padding: 10px;
  }
  
  td {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* dotted border effect */
    padding: 10px;
  }
  
  button {
    background-color: #ffea00; /* yellow button color */
    color: #1c1c1c; /* dark button text color */
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* subtle shadow effect */
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out; /* button hover animation */
  }
  
  button:hover {
    transform: translateY(-3px); /* move button up slightly on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* stronger shadow effect on hover */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes rowDelete {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.8);
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
      display: none;
    }
  }
  
  td.delete-button {
    position: relative;
    overflow: hidden;
  }
  
  td.delete-button button {
    position: relative;
    z-index: 1;
  }
  
  td.delete-button button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d32f2f;
    transform-origin: left;
    animation: rowDelete 0.5s linear;
  }
  