/* App.css */
body {
    
    
    background: repeating-radial-gradient(circle, #1c1c1cca, rgba(52, 109, 233, 0.929) 70%);
  
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(205, 205, 205);
}



